.about {
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    }

.about .texto {
    width: 55%;
    text-align: justify;
    font-size: 0.85em;
    margin: 10%;
}

.about .texto p {
    margin: 5px;
}

.about #img {
    width: 45%;
    display: inline-block;
}

.about .experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.about .exp-card {
    padding: 10px;
    width: 22.5%;
    background: var(--surface);
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.about .exp-card p {
    font-size: 0.85em;
    margin: 5px;
}
.about .exp-card #date {
    font-size: 0.75em;

}